process {
  executor = 'pbspro'
  project = 'jd21'
  storage = 'gdata/jd21+scratch/jd21+gdata/xc17+gdata/qq78'

  withName: index {
    queue = 'normal'
    cpus = 1
    memory = '32 GB'
    time = '1h'
  }

  withName: align {
    queue = 'normal'
    cpus = 40
    memory = '64 GB'
    time = '24h'
  }

  withName: mean_cn {
    queue = 'normal'
    cpus = 4
    memory = '16 GB'
    time = '2h'
  }


  withName: mod_pileup {
    queue = 'normal'
    cpus = 24
    memory = '128 GB'
    time = '12h'
  }

    withName: cg_motifs {
    queue = 'normal'
    cpus = 1
    memory = '32 GB'
    time = '1h'
  }

  withName: mod_extract_read {
    queue = 'normal'
    cpus = 24
    memory = '128 GB'
    time = '12h'
  }

}

