params {
  minimap2 = "/g/data/xc17/zaka/lib/minimap2-2.30/minimap2"
  samtools = "/g/data/xc17/zaka/lib/samtools-1.23/bin/samtools"
  bedtools = "/g/data/xc17/zaka/lib/bedtools-2.31.1/bin/bedtools"
  modkit = "/g/data/xc17/zaka/lib/modkit-0.6.1/modkit"
}

process {
  executor = 'pbspro'
  project = 'jd21'
  storage = 'gdata/jd21+scratch/jd21+gdata/xc17+gdata/qq78'

  withName: index {
    queue = 'normal'
    cpus = 1
    memory = '32 GB'
    time = '1h'
  }

  withName: align {
    queue = 'normal'
    cpus = 40
    memory = '128 GB'
    time = '48h'
  }

  withName: mean_cn {
    queue = 'normal'
    cpus = 4
    memory = '16 GB'
    time = '24h'
  }


  withName: mod_pileup {
    queue = 'normal'
    cpus = 24
    memory = '128 GB'
    time = '24h'
  }

    withName: cg_motifs {
    queue = 'normal'
    cpus = 1
    memory = '32 GB'
    time = '1h'
  }

  withName: mod_extract_read {
    queue = 'normal'
    cpus = 24
    memory = '128 GB'
    time = '12h'
  }

}

